.checkout {
  display: flex;
  padding: 20px;
  background-color: #eaeded;
  height: max-content;
}

.checkout__ad {
  width: 60%;

  display: block;
  margin: 10px auto 20px auto;
}

.checkout__products {
  background-color: white;
}

.checkout__hello {
  margin-right: 10px;
  padding: 10px;
  font-size: 30px;
  margin-bottom: 0;
}

.checkout__titlePart {
  display: flex;
  position: relative;
  border-bottom: 1px solid lightgray;
}

.checkout__title {
  padding: 10px;
  font-size: 30px;
}

.checkout__titlePrice {
  padding: 10px 0 0 10px;
  font-size: 15px;
  color: #616565;
  right: 25px;
  position: absolute;
  bottom: 0;
}

.h3 {
  font-size: 30px;
}
