/* Header */
.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__firstLine {
  height: 65px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__secondLine {
  height: 40px;
  background-color: #242f3e;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 5px 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  height: 70%;
}

.header__searchInput {
  width: 100%;
  border: 1px solid white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header__searchIcon {
  border: #ffbd69;
  background-color: #ffbd69;
  width: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header__searchIcon:hover {
  border: none;
  background-color: #f4a847;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 12px;
  color: white;
}

.header__optionLineOne {
  font-size: 12px;
  font-weight: 700;
}

.header__optionLineTwo {
  font-size: 14px;
  font-weight: 900;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
  color: orange;
}

.header__link {
  text-decoration: none;
}
