.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  max-width: 1500px;
  background-color: rgb(234, 237, 237);
}

.home__row {
  position: relative;
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.home__col {
  display: flex;
}

.home__ad {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}
