.payment {
  background-color: white;
  padding-left: 15%;
  padding-right: 15%;
}

.payment__container > h1 {
  text-align: center;
  font-weight: 400;
  border-bottom: 1px solid lightgray;
}

.payment__container > h1 a {
  text-decoration: none;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
  position: relative;
}

/* title takes up 20% */

/* the others takes up 80% */
.payment__address,
.payment__item,
.payment__details {
  flex: 0.8;
  padding-left: 5%;
}

.payment__details > form {
  max-width: 400px;
}

.payment__details > h3 {
  padding-bottom: 20px;
}

.payment__button {
  font-size: 15px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  color: #111;
  transition: 0.5s;
  background-image: linear-gradient(to bottom, #f7dd91 30%, #f0c24e 100%);
  border: 1px solid lightgrey;
}

.payment__button:hover {
  background-image: linear-gradient(to bottom, #f4d587 30%, #eeba38 100%);
  border: 1px solid lightgrey;
}
