.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 50px;
  width: 100%;
<<<<<<< HEAD
  max-height: 500px;
=======
  max-height: 700px;
>>>>>>> d8a1cf83e2e3893a26487cd0442755da3588f2a8
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.product > img {
<<<<<<< HEAD
  max-height: 200px;
  padding-top: 50px;
=======
  max-height: 180px;
>>>>>>> d8a1cf83e2e3893a26487cd0442755da3588f2a8
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

<<<<<<< HEAD
.product__title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.product__description {
  font-size: 12px;
  color: grey;
  margin-bottom: 5px;
}

.product__rating {
  display: flex;
  color: orange;
=======
.product__rating {
  display: flex;
  color: orange;
}

.product__description {
  color: grey;
  font-size: 13px;
>>>>>>> d8a1cf83e2e3893a26487cd0442755da3588f2a8
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
<<<<<<< HEAD
}

.product__price {
  margin-bottom: 5px;
=======
  font-weight: 500;
}

.product__price {
  margin-top: 5px;
>>>>>>> d8a1cf83e2e3893a26487cd0442755da3588f2a8
}

.product__shoppintCartIcon {
  background-color: black;
  color: white;
}

.product > button {
<<<<<<< HEAD
  position: relative;
  margin-top: 100px;
  color: #111;
  height: 35px;
  transition: 0.5s;
  background-image: linear-gradient(to bottom, #f7dd91 30%, #f0c24e 100%);
  border: 1px solid lightgrey;
}

.product > button:hover {
  background-image: linear-gradient(to bottom, #f4d587 30%, #eeba38 100%);
  border: 1px solid lightgrey;
}

.product__shoppintCartIcon {
  position: absolute;
  left: 5px;
  top: 4px;
=======
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
>>>>>>> d8a1cf83e2e3893a26487cd0442755da3588f2a8
}
