.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  padding: 20px;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal__freeShipping {
  color: green;
  font-size: 13px;
  margin-bottom: 22px;
}

.subtotal__subtotal {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__button {
  background: #fbd815;
  border: none;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
  box-shadow: 5px 5px 10px lightgrey;
}

.subtotal__button:hover {
  background: #f7ca01;
  border: none;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
}
